.alert {
    padding: 20px;
    margin-bottom: 15px;
    border-radius: $border-radius;

    opacity: 1;
    transition: opacity 0.6s;

    // Close Button
    &-close {
        margin-left: 15px;
        float: right;

        cursor: pointer;
        color: white;

        font-weight: bold;
        font-size: 22px;
        line-height: 20px;

        transition: 0.3s;
    }

    // Colors
    &-primary {
        background: $primary-color;
        color: white;
    }
    
    &-secondary {
        background: $secondary-color;
        color: white;
    }

    &-success {
        background: $success-color;
        color: white;
    }

    &-danger {
        background: $danger-color;
        color: white;
    }

    &-warning {
        background: $warning-color;
        color: white;
    }
}