.bg {
    &-primary {
        background: $primary-color !important;
    }

    &-secondary {
        background: $secondary-color !important;
    }

    &-success {
        background: $success-color !important;
    }

    &-warning {
        background: $warning-color !important;
    }

    &-danger {
        background: $danger-color !important;
    }

    &-dark {
        background: $dark !important;
    }

    &-light {
        background: $light !important;
    }
}