.btn {
    padding: 1rem;
    margin-bottom: 1rem;

    // Default button if no btn-(type) 
    // Basically no styling yet
    text-decoration: none;
    background: white;
    color: black;
    border: none;
    border-radius: $border-radius;

    &-block {
        display: block;
    }

    &-primary {
        background: $primary-color;
        color: white;

        &:hover {
            cursor: pointer;
            background: darken($primary-color, 5);
        }
    }
    
    &-secondary {
        background: $secondary-color;
        color: white;

        &:hover {
            cursor: pointer;
            background: darken($secondary-color, 5);
        }
    }

    &-success {
        background: $success-color;
        color: white;

        &:hover {
            cursor: pointer;
            background: darken($success-color, 5);
        }
    }

    &-danger {
        background: $danger-color;
        color: white;

        &:hover {
            cursor: pointer;
            background: darken($danger-color, 5);
        }
    }

    &-warning {
        background: $warning-color;
        color: white;

        &:hover {
            cursor: pointer;
            background: darken($warning-color, 5);
        }
    }
    
    &-info {
        background: $info-color;
        color: white;

        &:hover {
            cursor: pointer;
            background: darken($info-color, 5);
        }
    }

    &:focus {
        outline: none;
    }
}