.card {
    padding: 1%;
    margin-bottom: 1rem;
    border-radius: $border-radius;

    &-header {
        background: $primary-color;
        padding: 1%;
        min-width: 200px;
        color: white;
        border-radius: $border-radius;
    }

    &-body {
        background: #eee;
        padding: 1rem;
        min-width: 200px;
    }
}