.footer {
    display: flex;
    justify-content: space-between;

    &-section {

        p,
        a,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            padding: 1rem;
            margin-top: 1%;
            color: white;
            text-decoration: none;
            font-size: 20px;
        }
    }

    &-links {
        ul {
            display: flex;

            li {
                list-style: none;

                a {
                    display: block;
                    text-decoration: none;
                    color: white;
                    padding: 1.3rem 1rem;
                }
            }
        }
    }

    // Themes
    &-primary {
        background: $primary-color;
        .footer-links {
            ul {
                li {
                    a {
                        &:hover {
                            background: $secondary-color;
                        }
                    }
                }
            }
        }
    }

    &-secondary {
        background: $secondary-color;
        .footer-links {
            ul {
                li {
                    a {
                        &:hover {
                            background: $primary-color;
                        }
                    }
                }
            }
        }
    }

    &-success {
        background: $success-color;
        .footer-links {
            ul {
                li {
                    a {
                        &:hover {
                            background: lime;
                        }
                    }
                }
            }
        }
    }

    &-warning {
        background: $warning-color;
        .footer-links {
            ul {
                li {
                    a {
                        &:hover {
                            background: $danger-color;
                        }
                    }
                }
            }
        }
    }

    &-danger {
        background: $danger-color;
        .footer-links {
            ul {
                li {
                    a {
                        &:hover {
                            background: $warning-color;
                        }
                    }
                }
            }
        }
    }

    &-info {
        background: $info-color;
        .footer-links {
            ul {
                li {
                    a {
                        &:hover {
                            background: $primary-color;
                        }
                    }
                }
            }
        }
    }
}