input {
    width: 100%;
    padding: 1%;
    border: none;
    border-radius: $border-radius;
    border-bottom: 2px solid $secondary-color;
    margin-bottom: 1%;

    &:focus {
        outline: none;
        border-bottom: 2px solid $primary-color;
    }

    // Makes it a little bit cleaner 
    &[type=submit] {
        border-bottom: none;
    }
    
    &[type=color] {
        border-bottom: none;
    }
    
    &[type=button] {
        border-bottom: none;
    }
    
    &[type=reset] {
        border-bottom: none;
    }
}