// Text Types
.text {
    &-left {
        text-align: left;
    }

    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }

    &-justify {
        text-align: justify;
    }

    // Colors
    &-white {
        color: white;
    }

    &-black {
        color: black;
    }
}

// Headers
.card {
    &-header {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
        }
    }

    &-body {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1rem;
}