.text {
    &-justify {
        text-align: center;
    }

    &-center {
        text-align: center;
    }

    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }

    // Colors
    &-white {
        color: white;
    }

    &-black {
        color: black;
    }
}