$max-width: 1200px;

$margin-bottom: 1rem;
$border-radius: .2rem;

// Colors
$primary-color: #247BA0;
$secondary-color: #63ADf2;
$success-color: #46DB2B;
$warning-color: #F1A208;
$danger-color: #D62828;
$info-color: #053C5E;